:root {
  --color-white: #ffffff;
  --color-gray: #676a6c;
  --color-grey-light: #f3f3f4;
  --color-primary: #1ab394;
  --color-primary-light: #19c0a0;
  --color-primary-deep: #009486;
  --color-warning: #f8ac59;
  --color-primary-over-light: #b6e7dd;
}

body {
  background-color: var(--color-grey-light);
  color: var(--color-gray);
  margin: 0;
  padding: 0;
}
ul li{
  list-style-type: none;
  display: block;
}
/********************************************************
                Main Layout CSS Start
*********************************************************/
.main_layout {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
  word-wrap: break-word;
}
.main_layout .layout_sidebar {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  background-color: var(--color-white);
  width: 90px;
  min-height: 100vh;
  transition: 0.5s ease;
}

.main_layout .layout_sidebar.toggle_sidebar {
  width: 300px;
}

.sidebar_menu {
  position: relative;
}
.sidebar_menu .sidebar_toggle {
  background-color: var(--color-white);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -13px;
  top: 20px;
  z-index: 999;
}
.main_layout .layout_container {
  width: 100%;
  position: relative;
  z-index: 1;
}
.main_layout .layout_container .layout_header {
  position: absolute;
  background-color: var(--color-white);
  width: 100%;
  left: 2px;
  top: 0;
  z-index: 99;
  padding: 0.8rem;
}
.main_layout .layout_container .layout_content {
  padding-left: 1rem;
  padding-right: 1rem;
}
.main_layout .layout_container .layout_footer {
  position: absolute;
  background-color: var(--color-white);
  width: 100%;
  left: 2px;
  bottom: 0;
  padding-top: 0.5rem;
  z-index: 999;
}

/****Sidebar menu***/
.sidebar_header_main {
  background-image: url("./../images/common/header-bg.png");
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  position: relative;
}
.menu_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: var(--color-grey-light);
}

.menu-list{
  padding-top: 1rem;
  padding-right: 0.8rem;
}
.menu-list .menu_item{
  margin-top: 0.7rem;
  color: var(--color-gray);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease all;
}
.menu-list .menu_item:hover{
  color: var(--color-primary-deep);
}
.sub_menu_list .subMenu_item{
  display: none;
}
.menu-list .menu_item span{
  margin-right: 10px;
}

/* .menu-list .sub_menu_list{
} */
/********************************************************
                Main Layout CSS Close
*********************************************************/
